{% extends "layout.njk" %}

{% block head %}
<title>Sobre</title>
{% endblock %}

{% block content %}
<div id="wrapper">
    <img src="https://pbs.twimg.com/profile_images/953595371875422210/0pWsfSSp_400x400.jpg">
    <h1>Rocketseat</h1>
    <h2>Educação voltada para a formação de programadores</h2>
    <ul>Aulas online de:
        <li>JavaScript</li>
        <li>HTML</li>
        <li>CSS</li>
    </ul>
</div>

{% endblock %}