{% extends "layout.njk" %}


{% block head %}
<title>Conteúdos</title>
{% endblock %}

{% block content %}

<div id="wrapper">
    <h1>Conteúdos</h1>
</div>

<section class="cards">

    {% for item in items %}

    <div class="card" id="{{item.id}}">
        <div class="card__image-container">
            <img src="https://skylab.rocketseat.com.br/static/{{item.image}}.svg">
        </div>
        <div class="card__content">{{item.description}}</div>
        <div class="card__info">
            <p>{{item.length}}</p>
            <p class="card__price">{{item.price}}</p>
        </div>
    </div>

    {% endfor %}

</section>

<div class="modal-overlay">
    <div class="modal">
        <a class="close-modal">
            <i class="material-icons">
                close
            </i>
        </a>
        <div class="modal-content">
            <iframe src="",stylesheet="0"></iframe>
        </div>
        <a class="expand-modal">
            <i class="material-icons">
                maximize
            </i>
        </a>
    </div>
</div>

{% endblock %}